//--------------------------------------------------------------------------------- fonts

@font-face {
   font-family: "Raleway-Regular";
   src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
   font-family: "Raleway-Bold";
   src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
   font-family: "Raleway-SemiBold";
   src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
   font-family: "PlayfairDisplay-Bold";
   src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat-Regular.ttf");
}
